

<style>
    #pageWrap{
        color:blue;
        font-size: 15px;
    }
</style>

<div id="pageWrap">
    <h2 id="demo-title">Demo Title</h2>
    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, </p>
</div>

<p id="demoankur"> Hello my name is ankur chauhan</p>

<p id="demo">A Paragraph.</p>
<button id="ankbtnid" name="ankbtn" target="_self" type="button" onclick="myFunction()">Change Name from inside Webview</button>
<button id="ankid" name="ankbtn2" target="_self" type="button" onclick="buttonClicked()">Try it 2</button>

<script>
    function testing(){
        alert('OK for Testing');
    }
    
    function getSum(x){
        return x+100;
    }

function countit(what){
    return what;
}

function myMultiply(p1, p2) {
    return p1 * p2;              // the function returns the product of p1 and p2
}

function myFunction() {
    document.getElementById("demoankur").innerHTML = "Name changed to Shipra.";
}

function myJsFunc() {
    
    
}

function buttonClicked() {
    window.location.href = "yourapp://buttonClicked";
}

</script>


